.filters{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background-over-primary);
  border: var(--box-border);

  box-shadow: var(--box-shadow)
}

.filters__visible-section{
  width: 100%;
  display: inherit;
  justify-content: end;
  gap: 1rem;
}

.filters__collapsable-area{
  display: inherit;
  flex-direction: inherit;
  align-items: end;
  width: 100%;
}

.loader {
  align-self: center;
  flex-grow: 1;
}